<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adel Csuri</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link 
    href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <p id="logo">Adel's portfolio</p>
        <nav>
            <ul>
                <a href="#">
                    <li>Home</li>
                </a>
                <a href="#">
                    <li>Portfolio</li>
                </a>
                <a href="#">
                    <li>About</li>
                </a>
                <a href="#">
                    <li>Contact</li>
                </a>
            </ul>
        </nav>
    </header>
    <main>
        <img class="main-img" src="pictures/profile-img.jpg" alt="Picture of me">
        <h1>Hello there!</h1>
        <p>My name is Adél, I'm 24 years old from Hungary. I have studied marketing for 4 years. My current education is New Media Design at JU.</p>
    </main>
    <footer>
        <p>&#169; Adel Csuri 2023</p>
    </footer>
</body>

</html>